/**
 * Code you need
 */
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

  footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
  }
.btn-success{
  color:white!important;
}
.btn-outline-warning:hover{
  color:white!important;
}
.auth-container{
  min-height: 400px;
}
.panel{
  padding: 10px 10px;
  border: 1px solid #cac9c9;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.panel-heading{
  padding: 10px 0px;
}
.followers-avatar{
  height: 40px;
  width: 40px;
}
.btn-follow{
  width:80px!important
}
.vam,
.nav-item {
  display: inline-block;
  vertical-align: middle; }

.navbar{
  padding: 3px;
  border-bottom: 1px solid #dfe4dd;
}
.navbar-brand{
  margin-top: -7px;
}
a {
  color: #72a57e;
}

a:hover{
  color: teal;
  text-decoration: none;
}

.nav-item {
  cursor: pointer;
  padding: 5px 5px;
}

.navbar-avatar{
  margin-top: -8px;
}
.card-text{
  color:black!important;
}
.card-title{
  color:black!important;
}
#page-content{
  min-height: 300px;
  margin-top: 10px;
}
// Demo purposes only, proceed with caution on Windows!
.scroll::-webkit-scrollbar {
  display: none; }


/*masonry grids*/
* { box-sizing: border-box; }
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  padding: 5px;
}

.grid-item-img {
  display: block;
  width: 100%;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-item-img:hover {
  transform: translateY(-0.3rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.text-fit{
  color:#3a3939;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-avatar{
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 50px;
}

.article-text{
  padding-top: 5px;
}

.article-header{
  margin: 10px
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.like-comment-button-section{
  margin: -44px 10px auto auto;
  padding: 0px 30px;
}
.like-comment-button-section a{
  margin: 7px;
  background-color: RGBA(0, 0, 0, 0.67);
  border-radius: 10%;
  padding: 3px 5px;
  color:white;
}

.profile-avatar{
  height: 160px;
  width: 160px;
  align-items: right;
  margin: 2px auto;
  display: block;
}
.profile-content{
  margin-top:20px;
}

.edit-profile-button{
  margin-left:10px
}

.delete{
  color:#a02323;
}

.edit{
  color:#4670c1;
}
